version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: CasCap.Common.*
  - dependency-name: coverlet.msbuild
  - dependency-name: coverlet.collector    
  - dependency-name: Microsoft.NET.Test.Sdk
  - dependency-name: Newtonsoft.Json
  - dependency-name: xunit
  - dependency-name: xunit.runner.visualstudio